<html>
    <head>
        <title>streaming now! for y>_< </title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 15.10.2016, 7:04</p>
            <h2><a href="">my first post</a></h2>
            <p>i like hambuger
        </div>


        <div>
            <p>published: 15.10.2016, 7:16</p>
            <h2><a href="">My second post</a></h2>
            <p>lzxnvxlcnvl;qnlsdnflsfs
        </div>
    </body>
</html>
